export("%as%")
export("%::%")
export("UseFunction")
export("NewObject")
export("describe")
S3method(print, lambdar.fun)
S3method(print, lambdar.type)
export("debug.lr")
export("undebug.lr")
export("seal")
export("%isa%")
export("%hasa%")
export("%hasall%")
