export("%as%")
export("%::%")
export("UseFunction")
export("NewObject")
export("describe")
export("print.lambdar.fun")
export("print.lambdar.type")
export("debug.lr")
export("undebug.lr")
export("seal")
